* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment_box {
  padding: 20px;
  margin-bottom: 14px;
  width: 500px;
  height: 193px;
  border-radius: 20px;
  background-color: #F8F9FA;
}

.comment_id, .comment_email {
  display: flex;
}

.id_title, .email_title {
  margin: 0 12px 12px 0;
  font-weight: bold;
}

.comment_title {
  font-weight: bold;
  margin-bottom: 2px;
}